#sidebar {
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #0b0f19;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;

    &.expand {
        width: 260px;
        min-width: 260px;
    }

    &:not(.expand) {
        .sidebar-logo,
        a.sidebar-link span {
            display: none;
        }
    }

    &.expand {
        .sidebar-logo,
        a.sidebar-link span {
            animation: fadeIn 0.25s ease;
        }
    }
}

.sidebar-logo a {
    color: #fff;
    font-size: 1rem; /* Reduced font size */
    font-weight: 600;
}

.toggle-btn {
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323c55;

    i {
        color: #fff;
    }
}

.sidebar-nav {
    padding: 0.5rem 0;
    flex: 1 1 auto;
    z-index: 10;
}

a.sidebar-link {
    padding: 0.5rem 1rem; /* Adjusted padding */
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.85rem; /* Reduced font size */
    white-space: nowrap;
    font-weight: 600;
    border-left: 3px solid transparent;

    i {
        font-size: 1rem; /* Adjusted icon size */
        margin-right: 0.5rem;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.075);
        border-left: 3px solid #3b7ddd;
    }
}

.sidebar-item {
    position: relative;

    #sidebar:not(.expand) & {
        .sidebar-dropdown {
            position: absolute;
            top: 0;
            left: 90px;
            background-color: #0e2238;
            padding: 0;
            min-width: 14rem; /* Reduced submenu width */
            display: none;

            .sidebar-dropdown {
                left: 140px;
                background-color: #0e2238;
            }
        }

        &:hover {
            .has-dropdown+.sidebar-dropdown {
                display: block;
                max-height: 15em;
                width: 100%;
                opacity: 1;
            }
        }
    }

    #sidebar.expand & {
        .sidebar-link[data-bs-toggle='collapse']::after {
            border: solid;
            border-width: 0 0.075rem 0.075rem 0;
            content: '';
            display: inline-block;
            padding: 2px;
            position: absolute;
            right: 1rem; /* Adjusted position */
            top: 1.2rem; /* Adjusted position */
            transform: rotate(-135deg);
            transition: all 0.2s ease-out;
        }

        .sidebar-link[data-bs-toggle='collapse'].collapsed::after {
            transform: rotate(45deg);
            transition: all 0.2s ease-out;
        }
    }
}

.sidebar-dropdown {
    .sidebar-link {
        position: relative;
        padding-left: 2.5rem; /* Adjusted padding */
        font-size: 0.8rem; /* Reduced font size */
        transition: all 0.5s;

        &:hover {
            background: transparent;
            border-left: 3px solid transparent;
            padding-left: 3rem;
            color: #7277f2;
        }
    }
}

#sidebar::-webkit-scrollbar {
    width: 5px;
}

#sidebar::-webkit-scrollbar-track {
    background: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
