api-gateway/.mvn/*
api-gateway/.idea/*
api-gateway/target/*

auth-service/.mvn/*
auth-service/.idea/*
auth-service/target/*

core-service/.mvn/*
core-service/.idea/*
core-service/target/*

engine/.mvn/*
engine/.idea/*
engine/target/*

docker/mysql/data/*
*/mvnw
*/mvnw.cmd
*/HELP.md

