<div class="container-fluid rapid-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <h5>List Users</h5>
                </div>
                <hr class="card-separator" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="rapid-toolbar">
                                <button type="button" class="btn btn-primary custom-dark-btn"
                                    (click)="openCreateModal(editClientModal)">
                                    Create User
                                </button>
                                <div class="rapid-search">
                                    <input type="text" class="form-control rapid-input" placeholder="Search Users..."
                                        [(ngModel)]="searchText" (input)="search()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-container">
                            <div *ngIf="loading" class="loading-spinner">
                                <i class="fa-solid fa-spinner fa-spin"></i> Loading...
                            </div>
                            <table *ngIf="!loading" class="table rapid-table">
                                <thead>
                                    <tr>
                                        <th><i class="fa-solid fa-id-card"></i> Username</th>
                                        <th><i class="fa-solid fa-user"></i> First Name</th>
                                        <th><i class="fa-solid fa-user"></i> Last Name</th>
                                        <th><i class="fa-solid fa-globe"></i> Country</th>
                                        <th><i class="fa-solid fa-shield-halved"></i> Role</th>
                                        <th><i class="fa-solid fa-building"></i> Client Name</th>
                                        <th><i class="fa-solid fa-calendar-alt"></i> Created On</th>
                                        <th><i class="fa-solid fa-user-plus"></i> Created By</th>
                                        <th><i class="fa-solid fa-calendar-check"></i> Updated On</th>
                                        <th><i class="fa-solid fa-user-check"></i> Updated By</th>
                                        <th><i class="fa-solid fa-cog"></i>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.firstName }}</td>
                                        <td>{{ user.lastName }}</td>
                                        <td>{{ user.country }}</td>
                                        <td>{{ getRole(user.roles) }}</td>
                                        <td>{{ user.clientName }}</td>
                                        <td>{{ user.createdOn | date }}</td>
                                        <td>{{ user.createdByName }}</td>
                                        <td>{{ user.updatedOn | date }}</td>
                                        <td>{{ user.updatedByName }}</td>
                                        <td>
                                            <i
                                                class='fa-solid fa-pen-to-square text-primary rapid-action-icon rapid-action-icon-xl'></i>
                                            <i
                                                class='fa-solid fa-trash text-danger rapid-action-icon rapid-action-icon-xl'></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="!loading" class="rapid-pagination">
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems"
                                (pageChange)="pageChanged($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editClientModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="editMode">Edit User</h5>
        <h5 class="modal-title" *ngIf="!editMode">Create User</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!editMode" (click)="saveUser(modal)"
            [disabled]="userForm.pristine">Save User</button>
        <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="updateUser(modal)"
            [disabled]="userForm.pristine">Update User</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this client?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn custom-dark-btn" (click)="modal.close('confirm')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    </div>
</ng-template>