/* You can add global styles to this file, and also import other style files */
@use 'styles/variables';
@use 'styles/mixins';
@use 'styles/base';
@use 'styles/theme';
@use 'styles/fonts';
@use 'styles/components/main';
@use 'styles/components/navbar';


@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/regular.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Poppins",serif; // Will be overridden by theme variables
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1rem 0;
}
